@using EPiServer.ServiceLocation
@model OptiSandbox.Models.PageViewModel<StartPage>
@{
    var contentLoader = ServiceLocator.Current.GetInstance<IContentLoader>();
}

<h2>@Html.PropertyFor(x => x.CurrentPage.MainTitle)</h2>
@Html.PropertyFor(x => x.CurrentPage.Banners)
