@model IPageViewModel<IContent>

@if (Model.MenuPages.Count > 0)
{
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            @foreach (MenuPage menuPage in Model.MenuPages)
            {
                <li class="nav-item">
                    @Html.ContentLink(menuPage.Label, menuPage.PageReference, null, new { @class = "nav-link" + (menuPage.IsSelected ? " active" : null) })
                </li>
            }
            <li class="nav-item">
                <div
                    class="cart-icon-wrapper nav-link"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#basketOffcanvas"
                    aria-controls="basketOffcanvas"
                >
                    <span class="cart-icon">🛒</span>
                    <span class="cart-count">2</span>
                </div>
            </li>
        </ul>
    </div>
}