@model IPageViewModel<ICurrentPageViewModel<AboutPage>>

<header class="text-center mb-5">
    <h1 class="display-4">@Html.PropertyFor(viewModel => viewModel.CurrentPageViewModel.CurrentPage.Title)</h1>
    <p class="lead">@Html.PropertyFor(viewModel => viewModel.CurrentPageViewModel.CurrentPage.Subtitle)</p>
</header>

<div class="row about-section">
    <div class="col-lg-4 text-center mb-4">
        @Html.PropertyFor(viewModel => viewModel.CurrentPageViewModel.CurrentPage.PersonImage)
    </div>
    <div class="col-lg-8">
        @Html.PropertyFor(viewModel => viewModel.CurrentPageViewModel.CurrentPage.Content)
    </div>
</div>