.footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    flex-shrink: 0;
    height: 2.5rem;
}

.footer .footer-content {
    max-width: 90rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 1.25rem;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #000;
}

.footer a:hover {
    text-decoration: underline;
}
