@model IPageViewModel<CustomPage>

<p>@Html.PropertyFor(page => page.CurrentContent.Title)</p>
<p>@Html.PropertyFor(page => page.CurrentContent.Tab1Path)</p>
<p>@Html.PropertyFor(page => page.CurrentContent.Tab2Path)</p>
